!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Hi! #{@contact.full_name} is trying to reach out to you
    %p
      Sample mail sent using smtp.
