.row
  .col.s12
    .card-panel.darken-2.z-depth-2.hoverable
      .card-title.center-align
        %h3 Skills
        %p
          %em
            "You know, like nunchuck skills, bo hunting skills, computer hacking skills. Girls only like guys who have great skills."
        .divider
        .section
      .card-content.valign-wrapper.center-align
        %div.center
          .col.s6.m6
            %span.card-title
              %h4 Ruby on Rails
            .col.s12
              #myProgress.pink.lighten-2
                #myBar.pink.darken-2
          .col.s6.m6
            %span.card-title
              %h4 Ruby on Rails
            .col.s12
              .myProgress.pink.lighten-2
                .myBar.pink.darken-2
          .col.s6.m6
            %span.card-title
              %h4 Ruby on Rails
            .col.s12
              .myProgress.pink.lighten-2
                .myBar.pink.darken-2
          .col.s6.m6
            %span.card-title
              %h4 Ruby on Rails
            .col.s12
              .myProgress.pink.lighten-2
                .myBar.pink.darken-2
