%h1 bio

.font-green
  %p Hello World! I'm Ben.
  %p I love creating web based data solutions for people. There is nothing better than creating a product that improves people's lives. My programming langauge of choice is Ruby, but lately I've been interested getting more in javascript frameworks & Front-End development.
  %p When I'm am not spending my time coding, I am escaping to the great outdoors. I love camping, hiking, and lately I have been trying to visit as many National Parks as I can. So far I'm at 27. The most unique expeience was hiking 10 miles to see a lava flow in Hawaii.
