%h1 Course Goals
%p I'm excited to a part of the Dev Point Labs.
%p I started getting into programming on July 12th, 2016. The only reason I know is because it when I created my github. It took about 6 more months before I knew how to actually use my account, but we all start somewhere.
%p During the course I am hoping to get a solid understanding of javascript, level up my ruby skills, and get more involved in the community. I currently work for a nonprofit where I get to do some programming, but I would like to transition to into a career where I can spend more time in front of code. 
