%nav
  .nav-wrapper
    %a.brand-logo{:href => "#"} Logo
    %ul#nav-mobile.right.hide-on-med-and-down
      %li
        %a{:href => "sass.html"} Sass
      %li
        %a{:href => "badges.html"} Components
      %li
        %a{:href => "collapsible.html"} JavaScript

.row
  .col.s12.m4
    .card
      .card-image
        = image_tag "sample-1.jpg"
        %span.card-title Card Title
      .card-content
        %p
          I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.
      .card-action
        %a{:href => "#"} This is a link
  .col.s12.m4
    .card
      .card-image
        = image_tag "sample-3.jpg"
        %span.card-title Card Title
      .card-content
        %p
          I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.
      .card-action
        %a{:href => "#"} This is a link
  .col.s12.m4
    .card
      .card-image
        = image_tag "sample-2.jpg"
        %span.card-title Card Title
      .card-content
        %p
          I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.
      .card-action
        %a{:href => "#"} This is a link

/ Modal Trigger
%a.waves-effect.waves-light.btn.modal-trigger{:href => "#modal1"} Modal
/ Modal Structure
#modal1.modal
  .modal-content
    %h4 Modal Header
    %p A bunch of text
  .modal-footer
    %a.modal-action.modal-close.waves-effect.waves-green.btn-flat{:href => "#!"} Agree

%ul.collapsible{"data-collapsible" => "accordion"}
  %li
    .collapsible-header
      %i.material-icons> filter_drama
      First
    .collapsible-body
      %span Lorem ipsum dolor sit amet.
  %li
    .collapsible-header
      %i.material-icons> place
      Second
    .collapsible-body
      %span Lorem ipsum dolor sit amet.
  %li
    .collapsible-header
      %i.material-icons> whatshot
      Third
    .collapsible-body
      %span Lorem ipsum dolor sit amet.
