.row
  .col.s12.m4
    .card
      .card-image
        = image_tag "sample-1.jpg"
        %span.card-title Rest
      .card-content
        %p
          I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.
      .card-action
        %a{:href => "#"} This is a link
  .col.s12.m4
    .card
      .card-image
        = image_tag "sample-3.jpg"
        %span.card-title Travel
      .card-content
        %p
          I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.
      .card-action
        %a{:href => "#"} This is a link
  .col.s12.m4
    .card
      .card-image
        = image_tag "sample-2.jpg"
        %span.card-title Explore
      .card-content
        %p
          I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.
      .card-action
        %a{:href => "#"} This is a link
