.page-footer.indigo
  .footer-copyright
    .container
      ="© #{DateTime.now.year} Copyright POHL989"
      .nav-wrapper.right
        .col.s12
          %a.grey-text.text-lighten-4.right.fab.fa-github.fa-2x{:href => "/"}
          %a.grey-text.text-lighten-4.right.fab.fa-twitter.fa-2x{:href => "/"}
