.page-footer
  .footer-copyright
    .container
      © 2018 Copyright Text
      .nav-wrapper.right
        .col.s12
          %a.grey-text.text-lighten-3.right.fab.fa-github.fa-2x{:href => "/"}
          %a.grey-text.text-lighten-3.right.fab.fa-twitter.fa-2x{:href => "/"}
