.div.indigo

%nav.indigo
  .nav-wrapper
    -# %img.brand-logo{:src => "Pohl989_logo.png", :href => "/"}
    -# .brand-logo
    -#   %a.brand-logo{:href => "#!"}
    -#     = image_tag("sample-3.jpg")
    .brand-logo{:style => "margin-left: 20px; margin-top: 8px"}
      -# = link_to "/" do
      %img{:src => "#{image_url 'Pohl989_logo_side_font_big.png'}", :style => "height: 50px;"}/

      -# = image_tag("sample-3.jpg")

    %a.button-collapse{"data-activates" => "mobile-demo", :href => "#"}
      %i.material-icons menu
    %ul.right.hide-on-med-and-down
      %li
        %a{:href => "/"} About
      %li
        %a{:href => "#portfolio"} Portfolio
      %li
        %a{:href => "#skills"} Skills
      %li
        %a{:href => "#bio"} Bio
      %li
        %a{:href => "#contactMe"} Contact Me
    %ul#mobile-demo.side-nav
      %li
        %a{:href => "/"} About
      %li
        %a{:href => "#portfolio"} Portfolio
      %li
        %a{:href => "#skills"} Skills
      %li
        %a{:href => "#bio"} Bio
      %li
        %a{:href => "#contactMe"} Contact Me
