%nav.cyan
  .nav-wrapper
    %a.brand-logo{:href => "#!"} Pohl989
      %img{:src => "Pohl989_logo.png"}
    %a.button-collapse{"data-activates" => "mobile-demo", :href => "#"}
      %i.material-icons menu
    %ul.right.hide-on-med-and-down
      %li
        %a{:href => "/"} About
      %li
        %a{:href => "/"} Portfolio
      %li
        %a{:href => "/"} Skills
    %ul#mobile-demo.side-nav
      %li
        %a{:href => "/"} About
      %li
        %a{:href => "/"} Portfolio
      %li
        %a{:href => "/"} Skills
